h1 {
  text-align: center
}

$units: 10;
$size: 35px;

.world {
  width: 10 * $units * $size;
  height: $units * $size;
  position: relative;
  // transition: left .1s linear;
  position: absolute;
  // https://css-tricks.com/background-patterns-simplified-by-conic-gradients/#checkerboard
  background: repeating-conic-gradient(rgb(226, 241, 255)
 0% 25%, rgb(199, 228, 255) 0% 50%) 50%/ #{2 * $size 2 * $size};
  display: flex;
}

.object,
.player {
  font-size: $size;
  line-height: 1;
  margin-bottom: -.1rem;
  bottom: 0;
}

.player {
  position: absolute;
  transform: scaleX(-1);
  z-index: 1;
}

.column {
  width: $size;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.game {
  position: relative;
  border: 1px solid black;
  width: $units * $size;
  height: $units * $size;
  margin: 2rem auto;
  overflow: hidden;
}